#mune {
  position: fixed;
}
#mune .rolls {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 400px;
}
#mune .rolls button {
  width: 128px;
}
#mune hr {
  border-color: rgba(255, 255, 255, 0.5);
}
#mune .info .intervention {
  display: flex;
  justify-content: space-between;
}
.chat-message .mune .flavor {
  font-style: italic;
  color: #333;
}
.chat-message .mune .tag {
  display: inline-block;
  margin: 0 2px 1px 0;
  padding: 0 3px;
  border: 1px solid #999;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
}
.chat-message .mune.mune-action .content .result {
  margin-left: 4px;
  font-weight: bold;
}
